<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZelfWallet"
        tools:targetApi="34">
        <activity
            android:name=".ui.activity.zns.OpenZNSActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.zns.CreateZNSActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wallet.confirmsend.ConfirmSendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wallet.send.SendCryptoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wallet.account.WalletAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.preprocesswallet.FaceInstructionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wallet.scantosend.ScanToSendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wallet.success.SuccessSendCryptoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.wallet.main.WalletActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://authorize.zelf.com” -->
                <data
                    android:host="authorize.zelf.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.openwallet.ReaderWalletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.importwallet.ImportWalletActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.createwallet.TwelveTwentyFourActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.createwallet.PasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activity.preprocesswallet.ShowQRActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preprocesswallet.FaceScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preprocesswallet.QRScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.preprocesswallet.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.openwallet.ReaderDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.activity.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>